<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <ul class="navbar-nav mr-auto" *ngIf="accountService.currentUser$ | async; else loginForm">
        <li class="nav-item active">
            <a routerLink="/members" routerLinkActive="active" class="nav-link" href="#">Matches</a>
        </li>
        <li class="nav-item active">
            <a routerLink="/lists" routerLinkActive="active" class="nav-link" href="#">List</a>
        </li>
        <li class="nav-item active">
            <a routerLink="/messages" routerLinkActive="active" class="nav-link" href="#">Messages</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
    </ul>
    <div dropdown class="dropdown" *ngIf="accountService.currentUser$ | async">
        <a dropdownToggle class="dropdown-toggle text-light">Welcome user</a>
        <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item">Edit profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
    </div>
    <ng-template #loginForm>
        <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
            <input name="username" 
               [(ngModel)]="model.username" 
               class="form-control mr-sm-2" 
               type="text" 
               placeholder="Username"/>
            <input name="password"
               [(ngModel)]="model.password"
               class="form-control mr-sm-2" 
               type="password" 
               placeholder="Password"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </ng-template>
</nav>